.navbar {
    background-color: rgba(128, 0 , 128, 0.2);
    padding: 0;
}

.navbar-item {
    text-transform: uppercase;
    color: black;
    padding: 10px;
    height: auto;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
}


@media (min-width: 1024px) {
    .navbar-item {
        color: rgba(208, 0 , 100, 1);
    }
}
