.hackCard{
  width: auto;
  height: auto;
}
.challengeTitle{
  font-size: 20px
}
 .card-image{
  height: auto;
  width: auto;
}
.hackImage {
  width: 250px;
  height: 100px;
  margin: 0px;
  border: 0px;
  align-self: center;
  justify-content: center;
  display: block;
  padding: auto;
}
.topic{
  text-align: center;
  text-transform: capitalize;
}
.productCard{
  width: auto;
  height: auto;

  display:inline-flex;


}
.producttile{
  padding: 10px;
  margin-right: 10px;
  text-align: center;
  padding: 20px;
margin: 10px;
}
.cool{

}
